#profile, #content{
    height: 100%;
    padding: 3em;
}

hr.style-eight {
    overflow: visible; /* For IE */
    border-top: medium double #0e373e;
    color: #0e373e;
    text-align: center;
}

#profile_info{
    height: 10%;
}

#profile_menu{
    height: 90%;
}

.menu_opt{
    background: rgb(29,203,253);
    background: linear-gradient(133deg, rgba(29,203,253,1) 50%, rgba(252,176,69,1) 100%);
    cursor: pointer;
    padding: 0.5em 0;
    margin: 0.5em 2em;
    border-radius: 0.5em;
    border: 3px solid #16caca;
    transition: 0.1s;
}

.menu_opt:hover{
    color: white;
    background: rgba(24,172,214,1);
    border: 3px solid #11a0a0;
}

#profile{ /*Spolocne zadefinovany je aj s 'content'*/
    text-align: center;
}

#content{ /*Spolocne zadefinovany je aj s 'profile'*/

}

.view_test_opt_menu{
    padding: 2em 5em;
}

.view_test_opt {
    text-align: center;
    cursor: pointer;
    border-left: 2px solid #811849;
    border-bottom: 3px solid #811849;
    border-radius: 100%;
    width: 25%;
    margin: auto;
    left: 0;
    right: 0;
    position: relative;
    background: #d00d68;
    color: white;
    padding: 0.5em;
}

.view_test_opt:hover{
    background: #ac165c;
}

@keyframes option_test_view {
    0%{left: 0; top: 0;}
    25%{left: -5px; top: 3px;}
    100%{left: 0; top: 0;}
}

#testViewTests{

}

#testViewInfo{
    border: 1px dotted black;
    border-radius: 3px;
    background-color: rgba(163,209,255,0.35);
}

a:link, a:visited {
    color: #141da4;
    text-decoration: none;
}

a:link:active, a:visited:active, a:hover {
    color: #ffffff;
}

h2{
    padding-bottom: 1.5em;
}

.debug{ /*TODO: Potom zmazať*/
    border: 3px dotted black;
}